html,body {
	margin: 0%;
	width: 100%;
	background-color: black;
}

.main-container{ 
 width: 100%;
 position: relative;
}

.img-background{
	width: 100%;
	background-position: top;
}

h1{
	width:100%; 
	margin-top: 190px;
	position: absolute;
	font-size: 2vw;
	color: white; 
	font-family:'Microsoft Yi Baiti', sans-serif;
	text-align: center;
	letter-spacing: 18px;
}

a {   background-color: none;
	  position: absolute;
	  border: 2px solid blue;
	  color: white;
	  padding: 30px 15px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 330px 100px;
	  border-radius: 50%;
	  font-family:'OCR A', sans-serif;
	  animation-name: planets;
      animation-duration: 20s;
}

@keyframes planets {
  0%   {border: 2px solid blue;left:0px; top:0px;}
  15%  {border: 2px solid lightblue; left:250px; top:0px;}
  25%  {border: 2px solid lightgreen; left:500px; top:0px;}
  50%  {border: 2px solid darkgreen; left:1000px; top:0px;}
  75%  {border: 2px solid lightgreen; left:500px; top:0px;}
  85%  {border: 2px solid lightblue; left:250px; top:0px;}
  100% {border: 2px solid blue; left:0px; top:0px;}
}


#time{
	width: 100%;
	position: absolute;
	font-size: 100px; 
	color: white; 
	text-align: center;
	margin-top: 50px;
	font-family:'OCR A', sans-serif;
		
		
}